# Python
__pycache__
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
.venv/
venv/
ENV/

# Sensitive Information
.env
.env.local
.env.*
secrets.json
config/*.yaml
keys.txt

# Logs and Data
logs/
*.log
storage/
data/
db/
*.db
*.sqlite

# IDE
.vscode/
.idea/
.DS_Store
Thumbs.db

# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose.yaml
.dockerignore
